@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-transparent {
  @apply border border-blue-500 font-semibold text-blue-700 bg-transparent;
}

.btn-transparent:hover {
  @apply shadow-2xl;
}

.btn-blue:hover,
.pill-blue:hover {
  @apply bg-blue-700;
}

.pill {
  @apply py-2 px-4 rounded-full;
}

.pill-blue {
  @apply bg-blue-500 text-white font-bold;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1s normal linear;
}